
#canvas-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* basic styles for black background and crosshair cursor */
body {
    background: #000;
    margin: 0;
}

canvas {
    cursor: crosshair;
    display: block;
    z-index: -1;
}