body {
  color: #ad110c;
  background-color: #fbf5df;
}

.countdown {
  background-image: url("NhamDan2022.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 1024px;
}

#countdown {
  padding: 0;
}

#text_footer, .countdown, #headline{
  text-align: center;
}

.my_nav {
  height: 6rem;
  background-color: #c79872;
  font-size: 2em;
}

.my_footer {
  height: 6rem;
  background-color: #811323;
  color: #c79872;
  font-size: 2em;
}

#headline, #endline {
  font-weight: normal;
  letter-spacing: 0.125rem;
  font-size: 3em;
  text-transform: uppercase;
}

#headline {
  margin-top: 3em;
}

li {
  display: inline-block;
  font-size: 3em;
  list-style-type: none;
  padding: 2em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 6rem;
}

#lunar {
  display: inline-block;
  font-size: 6em;
  list-style-type: none;
  padding: 2em;
  text-transform: uppercase;
}

.btn {
  color: #ad110c;
  height: 4rem;
  font-size: 1em;
}

.btn:hover {
  color: #e55031;
}

#logo {
  width: 6%;
  height: 100%;
}

#logoTeam {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  /* ipad pro*/
  .countdown {
    height: 1366px;
  }

  li {
    font-size: 2em;
  }

  #logo {
    width: 11%;
  }
}

@media only screen and (max-width: 812px) {
  /* iphone X*/
  li {
    padding: 1em;    
  }
  
  li span {
    font-size: 6rem;
  }

  .my_nav {
    font-size: 2em;
  }

  .my_footer {
    font-size: 2em;
  }

  #logo {
    width: 14.5%;
  }
}

@media only screen and (max-width: 768px) {  
  /* ipad */
  .countdown {
    height: 1024px;
  }

  li {
    padding: 1em;
  }
  
  li span {
    font-size: 5rem;
  }

  .my_nav {
    height: 5rem;
    font-size: 1.5em;
  }

  .btn {
    height: 3rem;
  }

  #headline {
    margin-top: 0;
  }
  
  .my_footer {
    height: 5rem;
    font-size: 1.5em;
  }

  #logo {
    width: 12%;
  }
}

@media only screen and (max-width: 512px) {
  /* galaxy fold */
  #logo {
    width: 22%;
  }
}

@media only screen and (max-width: 414px) {
  /* iphone 6/7/8 plus*/
  .countdown {
    height: 736px;
  }

  li {
    font-size: 2em;
  }

  li span {
    font-size: 3rem;
  }

  .my_nav {
    height: 4rem;
    font-size: 1em;
  }

  .btn {
    height: 2rem;
  }

  .my_footer {
    height: 4rem;
    font-size: 1em;
  }

  #headline, #endline {
    font-size: 1.5em;
  }

  .px-3 {
    padding: 0 !important;
  }

  #logo {
    width: 20%;
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  /* iphone 6/7/8*/
  .countdown {
    height: 667px;
  }

  .my_nav {
    height: 3rem;
  }

  .btn {
    height: 1.5rem;
  }

  .my_footer {
    height: 3rem;
    font-size: 0.75em;
  }

  #headline, #endline {
    font-size: 1.5em;
  }

  #text_container {
    margin-right: 10%;
  }

  #logo {
    width: 17%;
    height: auto;
  }
}

@media only screen and (max-height: 812px) {
  /* iphone X*/
  .countdown {
    height: 812px;
  }
}

@media only screen and (max-width: 320px) {
  /* iphone 5/SE */
  .countdown {
    height: 568px;
  }

  #text_container {
    margin-right: 5%;
  }

  #logo {
    width: 22%;
  }
}

@media only screen and (max-width: 280px) {
  /* Galaxy Fold*/
  .countdown {
    height: 653px;
  }

  .my_nav {
    font-size: 0.8em;
  }

  .my_footer {
    font-size: 0.55em;
  }

  #text_container {
    margin-right: 0;
  }

  #logo {
    width: 23%;
  }
}