<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>      
      #canvas-container {
          width: 100%;
          height: 100%;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
      }

      /* basic styles for black background and crosshair cursor */
      body {
          background: #000;
          margin: 0;
      }

      canvas {
          cursor: crosshair;
          display: block;
      }
    </style>
  </head>
  <body>
    <div id="canvas-container">
      <canvas id="canvas" style="width: 100%; height: 100%;"
        >Your browser doesn't support canvas</canvas
      >
    </div>
  </body>
  <script
    type="text/javascript"
    src="{{url_for('static', filename='fireworks.js')}}"
  ></script>
</html>
