{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='fireworks.css')}}"/>
<div class="row d-flex flex-column justify-content-center align-items-center mx-auto countdown">
    <h1 id="headline">Tết ơi! đến đi</h1>
    <ul id="countdown">
      <li><span id="days"></span>Ngày</li>
      <li><span id="hours"></span>Giờ</li>
      <li><span id="minutes"></span>Phút</li>
      <li><span id="seconds"></span>Giây</li>
    </ul>
    <div id="lunar" hidden></div>
    <h1 id="endline" hidden>Nhâm Dần 2022</h1>
    <div id="canvas-container" hidden>
      <canvas id="canvas"
        >Your browser doesn't support canvas
      </canvas>
    </div>
</div>
<div hidden>
    <audio id="music" loop>
        <source
        src="{{url_for('static', filename='music.mp3')}}"
        type="audio/mp3"
        />
    </audio>
</div>
{% endblock %}