<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fireworks.css')}}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Tết ơi! Đến Phước Hải</title>
  </head>
  <body>
    <div class="container-fluid p-0">
      <div class="my_nav shadow-sm d-flex align-items-center">
        <div class="mr-auto ml-3">logo</div>
        <div class="d-flex flex-fill justify-content-center">
          <a href="#" class="mr-5 px-3 btn">Lịch Âm</a>
          <a href="#" class="mr-5 px-3 btn">Chúc Tết</a>
        </div>
      </div>
      <div class="row d-flex flex-column justify-content-center align-items-center mx-auto countdown">
        <h1 id="headline" style="margin-top: 3em;">Tết ơi! đến đây đi</h1>
        <ul id='countdown'>
          <li><span id="days"></span>Ngày</li>
          <li><span id="hours"></span>Giờ</li>
          <li><span id="minutes"></span>Phút</li>
          <li><span id="seconds"></span>Giây</li>
        </ul>
        <div id="lunar" hidden></div>
        <h1 id="endline">Nhâm Dần 2022</h1>
        <div id="canvas-container">
          <canvas id="canvas"
            >Your browser doesn't support canvas
          </canvas>
        </div>
      </div>
      <div hidden>
        <audio id="music" loop>
          <source src="{{url_for('static', filename='music.mp3')}}" type="audio/mp3">
        </audio>
      </div>
      <div class="my_footer d-flex align-items-center">
        <div class="mr-auto ml-3">
          <img alt="logoTeam" class="center-block" src="{{url_for('static', filename='eee.jpg')}}" style="width: 40%; height: 40%;"/>
        </div>
        <div class="d-flex flex-fill justify-content-center">
          <div class="mr-5 px-3">Một sản phẩm ngẫu hứng của 2 sinh viên rảnh rỗi</div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='countdown.js')}}"
    ></script>
    <script
    type="text/javascript"
    src="{{url_for('static', filename='fireworks.js')}}"
  ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>
